body {
    background-color: rgb(158, 158, 158);
}

li{
    list-style: none;
}

.front-page{
    height: 100vh;
    background-color: rgb(247, 247, 247);
}

.essay{
    /* height: 100vh; */
    background-color: rgb(247, 247, 247);
}

.deck p {
    display: flex;
    justify-content: center;

}

.deck button {
    display: flex;
    justify-content: center;

}